
.hero-bg{
    background-color: rgba(0, 0, 0, 0.7);

   
}

.hero h2, .hero span{
    color: white;
}
@media only screen and (max-width:450px) {
    .hero{
      overflow: hidden;
      width: 25%;
      size: static;
    }
    
}

.hero span{
    font-size: 1.5rem;
}

.hero h2{
    font-size: 5rem;
}



.common-header{
    text-align: center;
}

.common-header span{
    letter-spacing: 1rem;
}

img{
    max-width: 100%;
}

.partner img{
    width: 70%;
    /* padding: 1rem;
    border:1px solid black; */
     
   
}
.partner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    align-items: center;
    align-content: space-between;
    justify-items: end;


   
}
@media only screen and (max-width: 450px) {
    .partner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 10px;
        align-items: center;
        align-content: space-between;
        justify-items: end;
    
    
       
    }
    
}

p{
    text-align: justify;
}
